@page "/document"
@using CCL.UI.Models
@using CCL.UI.Services
@inject UserDocumentService documentService

<PageTitle>User Documents</PageTitle>

<h3>User Documents</h3>

@if (allDocuments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FileName</th>
                <th>FullPath</th>
                <th>IsEncrypted</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in allDocuments)
            {
                <tr>
                    <td>@doc.FileName</td>
                    <td>@doc.FullPath</td>
                    <td>@doc.IsEncrypted</td>
                    <td>@doc.Created.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>@doc.Modified.ToString("dd-MM-yyyy HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserDocument> allDocuments;

    protected override async Task OnInitializedAsync()
    {
        allDocuments = await documentService.GetAllUserDocumentsAsync();
    }

    private async Task RefreshData()
    {
        allDocuments = await documentService.GetAllUserDocumentsAsync();
    }
}
